* {
    margin: 0;
    padding: 0;

    --primary-colour: #1f9644;

}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.container {
    margin-top: 60px;
    margin-left: 550px;
}

.input-field {
    width: 800px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}

.btn {
    margin-top: 35px;
    margin-left: 360px;
    border-radius: 10px;
    border: 2px solid var(--primary-colour);
    background-color: var(--primary-colour);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2ee266;
    color: #fff;
    border: 2px solid #2ee266;
    transition: 0.2s;
}

.vowel-counter-calculate {
    display: block;
    margin-top: 100px;
    margin-left: 40rem;
    width: 600px;
    text-align: center;
}

.vowels-inside {
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}